@model IEnumerable<Frecuento2.Models.CompanyViewModel>
<div class="row">
<div class=" dvCompany ">
    @foreach (var item in Model)
    {

<div class="dv-companylist col-sm-12 ">
<br />
<div class="col-sm-8">
        
        <div class="dv-text">
           <label>Empresa </label> : @item.Nombre
        </div>  
        <div class="dv-text">
           <label>Event </label> : <span class="span-event-name"> @item.EventName</span>
        </div>  
        <div class="dv-text">
        <label>    Servicio </label> : @item.Services
        </div>
        

</div>
        <div class="col-sm-3">
<span class="EvenSerId hidden">@item.Id_EvenSers</span>
<div class="hidden dv-base">
               @item.Precio_Base
        </div>        
        <div class="hidden dv-service">
                @item.Precio_Servicios
        </div> 
            <div class="btn btn-success pull-right" onclick="btnAddCompany(this)">Add</div>
        </div>
</div>
    }

</div></div>