@model Frecuento2.Models.evenser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>evenser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EvenEmpre.Id_EvenEmpre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvenEmpre.Id_EvenEmpre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiEmpre.Id_ServiEmpre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiEmpre.Id_ServiEmpre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
