@model IEnumerable<Frecuento2.Models.Reserva>
@{
    ViewBag.Title = "Reservas";
}

 <div class="col-sm-6">
        <h4>Reserva</h4>

        @if (Model != null && Model.Count > 0)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => Model.Reserva.ToList()[0].Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelItem => Model.Reserva.ToList()[0].EvenEmpre.Tipo_Evento.Descripción)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelItem => Model.Reserva.ToList()[0].Cliente.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelItem => Model.Reserva.ToList()[0].Precio_base_Evento)
                    </th>
                </tr>
                @foreach (var item in Model.Reserva)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EvenEmpre.Tipo_Evento.Descripción)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio_base_Evento)
                        </td>
                    </tr>
                }
            </table>
        }
    </div>