@model IEnumerable<Frecuento2.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Empresas</h2>


@using (Html.BeginForm("Index", "Empresas", FormMethod.Get))
{
<div class="col-sm-12 Main">
    <div class="col-sm-8">
        <div class="form-group">
            @Html.TextBox("Busqueda", null, new { @class = "form-control", placeholder = "Nombre de la empresa" })
        </div>
    </div>
    <div class="col-sm-4">
        <input type="submit" value="Buscar" class="btn btn-success" />
        <input type="button" value="Borrar" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("Index", "Empresas") + "'");" />
    </div>
</div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dirección)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teléfono)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Nº_Empleados)*@
            Número Empleados
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Nº_Cuenta)*@
            Número Cuenta
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dirección)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teléfono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nº_Empleados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nº_Cuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id_Empresa })
        </td>
       
    </tr>
}

</table>
